$fontStyle: "Montserrat", "Arial", sans-serif;

body {
  font: 100% $fontStyle;
  background: linear-gradient(to right, #1a1a1a, #4d0026);
  .title {
    margin: 1%;
    font-size: 80px;
    text-align: center;
    color: #e1b5c6;
    border-width: 2px;
    border-style: ridge;
    border-color: #e1b5c6;
  }
  .title:hover {
    background-color: #481b2e;
    transition: 0.3s;
  }
  .card {
    float: left;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    width: 40%;
    height: 140px;
    border-radius: 10px;
    margin: 5%;
    .cardTitle {
      color: #e1b5c6;
    }
    .cardValue {
      color: white;
      font-size: 50px;
      margin: 0;
    }
  }
  .card:hover {
    background-color: #481b2e;
  }
  .aboutPresentation {
    color: #e1b5c6;
    font-size: 25px;
    margin: 2%;
    text-align: center;
  }
}