* {
  font-family: "Montserrat", "Arial", sans-serif;
}

body {
  background: linear-gradient(to right, #1a1a1a, #4d0026);
}

.title {
  margin-top: 2%;
  background-image: linear-gradient(to right, #1a1a1a, #4d0026);
  font-size: 60px;
  text-align: center;
}