$fontStyle: "Montserrat", "Arial", sans-serif;

body {
  font: 100% $fontStyle;
  background: linear-gradient(to right, #1a1a1a, #4d0026);
  .title {
    margin-top: 2%;
    color: #ce3873;
    font-size: 80px;
    text-align: center;
  }
}